body {
  background-color: rgb(195, 230, 173);
}

h1 {
  color: rgb(42, 110, 17);
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  border: 2px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
}

p {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
    margin-left: 85px;
    margin-right: 85px;
}